        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Swag Labs">
    <test name="test place an order">
        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.ProductListingTest"/>
            <class name="tests.CheckOutTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->